* {
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  display: flex;
  color: #DEEBF8;
  font-weight: 600;
  justify-content: end;
}

.nav--icon {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

/* 
Challenge: Place the gray react logo in the background

Don't use an `img` element, but rather set it as the
`background-image` of the `main` element.

Hint: you'll need to use the following properties:
- background-image
- background-repeat
- background-position

(Or the shorthand `background` property with values for all
those other properties)
*/

main {
  padding: 57px 27px;
  color: white;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;

  transition: transform 0.3s ease 0s !important;
}

.main--title:hover {
  transform: translateY(-2px);
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts>li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts>li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

.toggle-btn {
  position: absolute;
  float: right;
  background-color: #61DAFB !important;
  width: 80px;

  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease !important;

  /*
  transition-property: transform !important;
  transition-duration: 0.3s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  */
}

.toggle-btn:hover {
  transform: translateY(-2px);
  background-color: white !important;
  color: #282D35 !important;
}