@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
  animation: slideInLeft 1s ease 0s 1 both !important;

  transform: translateX(-150px);
}
.slideInRight {
  animation: slideInRight 1s ease 0s 1 both !important;

  transform: translateX(-150px);
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

* {
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--title {
  display: flex;
  color: #DEEBF8;
  font-weight: 600;
  justify-content: end;
}

.nav--icon {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;

  transition: transform 0.3s ease 0s !important;
}

.main--title:hover {
  transform: translateY(-2px);
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts>li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts>li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

.toggle-btn {

  float: right;
  background-color: #61DAFB !important;
  width: 80px;

  transition: all 0.3s ease !important;

  /*
  transition-property: transform !important;
  transition-duration: 0.3s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  */
}

.toggle-btn:hover {
  transform: translateY(-2px);
  background-color: white !important;
  color: #282D35 !important;
}
.toggle-btn:active {
  background-color: #282D35 !important;
  color: white !important;
}